python-telegram-bot
twscrape
deep-translator
python-dotenv
asyncio
schedule
selenium
webdriver-manager
yfinance
astral
matplotlib
seaborn
openpyxl
requests
beautifulsoup4
python-telegram-bot
pandas
openpyxl
finance-datareader
pytz
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
holidays
pykrx
exchange_calendars